# Ignore logo file


# Python cache / virtual environments
__pycache__/
*.pyc
*.pyo
*.pyd
.venv/
venv/
env/
*.env

# Streamlit cache
.streamlit/

# Jupyter notebook checkpoints
.ipynb_checkpoints/

# OS files
.DS_Store
Thumbs.db
